#
# Android Studio 2.2.3 Defaults
#

**/build
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
/captures
/local.properties

# Ignore .so files
**/jniLibs

#
# Certificates and API Keys
#

ReaderClientCert.sig
bugsnag.conf
helpstack.conf
*.jks

#
# Bundled content
#

simplified-app-lfa/src/main/assets/feeds
simplified-app-lfa/src/main/assets/images
simplified-app-lfa/src/main/assets/books
simplified-app-lfa/src/main/assets/info.properties
simplified-app-lfa/src/main/assets/account_bundled_credentials.json
simplified-app-lfa/src/main/assets/index.txt
simplified-app-lfa/credentials.json

simplified-app-lfa-offline/src/main/assets/feeds
simplified-app-lfa-offline/src/main/assets/images
simplified-app-lfa-offline/src/main/assets/books
simplified-app-lfa-offline/src/main/assets/info.properties
simplified-app-lfa-offline/src/main/assets/account_bundled_credentials.json
simplified-app-lfa-offline/src/main/assets/index.txt
simplified-app-lfa-offline/credentials.json

simplified-app-lfa-laos/src/main/assets/feeds
simplified-app-lfa-laos/src/main/assets/images
simplified-app-lfa-laos/src/main/assets/books
simplified-app-lfa-laos/src/main/assets/info.properties
simplified-app-lfa-laos/src/main/assets/account_bundled_credentials.json
simplified-app-lfa-laos/src/main/assets/index.txt
simplified-app-lfa-laos/credentials.json

#
# Generated content
#

simplified-app-shared/src/main/assets/revision.properties
